[submodule "third_party/zaf"]
	path = third_party/zaf
	url = https://github.com/Zplutor/zaf.git
[submodule "src/help/wiki"]
	path = src/help/wiki
	url = https://github.com/Zplutor/RunAnywhere.wiki.git
[submodule "third_party/curlion"]
	path = third_party/curlion
	url = git@github.com:Zplutor/curlion.git
